<h1>Hello!</h1>
<p>Here is a daily cumulative report for {{day}}:</p>
<p><span style="color:blueviolet">Cumulative amount (Lts):</span>&nbsp;&nbsp;<span style="color:blue">{{amount}}</span></p>
<p><span style="color:blueviolet">Cumulative earned (Ksh.):</span>&nbsp;&nbsp;<span style="color:blue">{{earned}}</span></p>
<br>
<hr>
<small>You are receiving this email because of a request you made on the web app <a href="https://deliver.web.app">Delivered</a>. If you didn't make this request, take the necessary steps to secure your email.</small>